i {
    cursor: pointer;
}

.item-image {
    object-fit: cover; 
    max-height: 75%;
}

.itemCard {
    background-color: #fafafa;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center
}

.itemCard :hover {
    background: white
}

.bottomCard {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 1em;
}

.bottomCard > * {
    margin: 5px 0 5px 0;
}

.bottomCard > p {
    margin: 5px 0 10px 0;
}

.btn{
    background: #0069ed;
    display: inline;
    font-size: 12pt;
    color: #ffffff;
    /* margin: 2em; */
    padding: 0.5rem 2rem;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}